<template>
  <div class="page-dashboard page">
    <Breadcrumb title="Agregar buscador" :routes="arrayRoutes" />
    <div class="card--control card p-3">
      <h5 class="title--control m-0">Formulario de agregado de buscador</h5>
      <p class="description--control">
        Coloque los datos
        <code>importantes</code> del buscador
      </p>

      <div class="container--form my-3">
        <el-form
          :model="formSearch"
          :rules="rules"
          ref="formSearch"
          label-width="150px"
          class="form--control"
          size="medium"
          hide-required-asterisk
        >
          <div class="row">
            <div class="col-12">
              <el-form-item label="Imagen">
                <div class="compo-upload">
                  <Upload
                    title="Imagen de la categoría"
                    accept="image/*"
                    @file_server="file_response"
                    :limit="5"
                    class="height-min"
                    v-if="!formSearch.file"
                  />
                  <el-image
                    style="width: 100%; height: 200px;max-width: 100%;"
                    :src="formSearch.file.path"
                    fit="cover"
                    v-else
                  ></el-image>
                  <div
                    class="new_image"
                    v-if="formSearch.file"
                    @click="newImageUpload"
                  >Cambiar de imagen</div>
                </div>
              </el-form-item>
            </div>
            <div class="col-12">
              <el-form-item label="Nombre" prop="name">
                <el-input v-model="formSearch.name"></el-input>
              </el-form-item>
            </div>

            <div class="col-12">
              <el-form-item label="Paso" prop="url">
                <el-input v-model="formSearch.url"></el-input>
              </el-form-item>
            </div>

            <div class="col-12">
              <el-form-item label="Imagen alternativa">
                <div class="compo-upload">
                  <Upload
                    title="Imagen alternativa del servicio"
                    accept="image/*"
                    @file_server="file_response_2"
                    :limit="5"
                    class="height-min"
                    v-if="!formSearch.image"
                  />
                  <el-image
                    style="width: 100%; height: 200px;max-width: 100%;"
                    :src="formSearch.image.path"
                    fit="cover"
                    v-else
                  ></el-image>
                  <div
                    class="new_image"
                    v-if="formSearch.image"
                    @click="newImageUpload_2"
                  >Cambiar de imagen</div>
                </div>
              </el-form-item>
            </div>

            <div class="col-12">
              <el-form-item label="Descripción">
                <vue-pell-editor
                  v-model="formSearch.description"
                  :content="formSearch.description"
                  :style-with-css="false"
                  :actions="editorOptions"
                  default-paragraph-separator="p"
                />
              </el-form-item>
            </div>

            <!-- <div class="col-12 col-md-6">
              <el-form-item label="Teléfono">
                <el-input v-model="formSearch.phone"></el-input>
              </el-form-item>
            </div>-->

            <div class="col-12">
              <el-form-item>
                <el-button
                  type="primary"
                  @click="submitForm('formSearch')"
                  class="btn-primary btn-base"
                  :class="{'disabled' : disabled_form}"
                >Editar servicio</el-button>
                <el-button class="btn-danger btn-base" @click="canceRegister">Cancelar</el-button>
              </el-form-item>
            </div>
          </div>
        </el-form>
        <!-- <pre>{{formSearch}}</pre> -->
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumb from '~/components/title-page'
import Upload from '@/components/upload'

export default {
  middleware: ['auth'],
  async asyncData({ params, route, $axios, $auth }) {
    let id = params.id
    let services = await $axios.$get(`/api/services/${id}`)
    console.log(route)
    if (!services) {
      redirect('/services')
      //   route.name = 'users'
    }
    return { formSearch: services }
    // let roles = await $axios.$get("/roles");
    // return { roles: roles };
  },
  layout: 'current-user',
  data() {
    return {
      ditorOptions: [
        'bold',
        'italic',
        'underline',
        'strikethrough',
        'heading1',
        'heading2',
        'paragraph',
        'quote',
        'olist',
        'ulist',
        'code',
        'line',
        'link'
      ],
      roles: [
        {
          name: 'Administrador',
          value: 'admin'
        },
        {
          name: 'Cliente',
          value: 'client'
        }
      ],
      pickerOptions: {
        disabledDate(time) {
          // console.log(new Date(1994, 12, 10))
          return time.getTime() > Date.now()
        }
      },
      arrayRoutes: [
        {
          name: 'Dashboard',
          link: 'dashboard'
        },
        {
          name: 'Buscadores',
          link: 'services'
        },
        {
          name: 'Agregar buscador',
          link: 'services-add'
        }
      ],
      //   formSearch: {
      //     name: '',
      //     url: '',
      //     file: '',
      //     file_id: ''
      //   },
      rules: {
        name: [
          {
            required: true,
            message: 'Por favor es necesario agregar el nombre del buscador',
            trigger: 'change'
          },
          {
            min: 1,
            max: 100,
            message: 'El tamaño mínimo del nombre es 1',
            trigger: 'change'
          }
        ],
        url: [
          {
            required: true,
            message: 'Por favor es necesario agregar la url del buscador',
            trigger: 'change'
          }
        ]
      }
    }
  },
  methods: {
    submitForm(formName) {
      this.$nuxt.$loading.start()
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.updateservices()
        } else {
          this.$nuxt.$loading.finish()
          console.log('error submit!!')
          return false
        }
      })
    },
    async updateservices() {
      let newUser = await this.$axios.$put(
        `/api/services/${this.formSearch.id}`,
        this.formSearch
      )
      if (newUser) {
        this.$notify({
          title: 'Listo',
          message: 'El buscador se ha actualizado',
          position: 'bottom-right',
          showClose: false
        })
        this.$nuxt.$loading.finish()
        // this.$router.push({ name: 'services' })
      } else {
        this.$nuxt.$loading.finish()
      }
    },
    canceRegister() {
      this.$router.push({ name: 'services' })
    },
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1)
    },
    file_response(file) {
      //   console.log(file)
      this.formSearch.file = file
      this.formSearch.file_id = file.id
    },
    newImageUpload() {
      this.formSearch.file = ''
      this.formSearch.file_id = ''
    },
    file_response_2(file) {
      //   console.log(file)
      this.formSearch.image = file
      this.formSearch.image_alt = file.path
    },
    newImageUpload_2() {
      this.formSearch.image = ''
      this.formSearch.image_alt = ''
    }
  },
  computed: {
    disabled_form() {
      if (this.formSearch.name && this.formSearch.url) {
        return false
      } else {
        return true
      }
    }
  },
  components: {
    Breadcrumb,
    Upload
  }
}
</script>

<style>
</style>