<template>
  <client-only>
    <div class="login-p page-login page" v-loading="loading">
      <div class="cont-flot">
        <div class="cont-flex">
          <div class="vid-secti d-none d-md-block">
            <img src="https://source.unsplash.com/collection/962362/900x1600" />
          </div>

          <div class="form-log">
            <div class="w-100 cont-form">
              <div class="cont-i-form">
                <div class="text-plane">
                  <div class="welcome">
                    <h1>
                      Bienvenido a tu panel de administracion para tu aplicación
                      <span>
                        <a href="#" target="_blank">Innova Scientifi</a>
                      </span>
                    </h1>
                    <p class="descrip--s my-3">Administra, controla y organiza tu aplicación.</p>
                  </div>
                </div>
                <!-- <el-alert :title="error" type="error" v-if="error"></el-alert> -->
                <el-form
                  status-icon
                  class="form-login"
                  size="medium"
                  @keyup.enter.native="login('loginForm')"
                  :model="loginForm"
                  ref="loginForm"
                  :rules="ruleForm"
                  :hide-required-asterisk="true"
                  :show-message="false"
                >
                  <el-form-item prop="mail">
                    <el-input
                      type="email"
                      size="medium"
                      placeholder="Dirección de correo"
                      autocomplete="true"
                      v-model="loginForm.mail"
                    >
                      <eva-icon name="email-outline" slot="prefix" width="20px" fill="#DCDFE6"></eva-icon>
                    </el-input>
                  </el-form-item>
                  <el-form-item prop="password">
                    <el-input
                      type="password"
                      placeholder="Contraseña"
                      v-model="loginForm.password"
                      show-password
                    >
                      <eva-icon name="lock-outline" slot="prefix" width="20px" fill="#DCDFE6"></eva-icon>
                    </el-input>
                  </el-form-item>
                  <div class="cont-buton-log d-inline-flex">
                    <a
                      type="primary"
                      class="btn-main primary btn-mango d-flex align-items-center"
                      @click="login('loginForm')"
                    >
                      <eva-icon
                        name="log-in"
                        slot="prefix"
                        width="15px"
                        height="15px"
                        fill="#fff"
                        class="mr-2"
                      />
                      <span>Iniciar sesión</span>
                    </a>
                  </div>
                </el-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </client-only>
</template>


<script>
const axios = require('axios')
export default {
  middleware: ['auth'],
  head() {
    return {
      title: 'Login | Innova Scientifi',
      meta: []
    }
  },
  data() {
    return {
      error: null,
      loading: false,
      loginForm: {
        mail: '',
        password: ''
      },
      ruleForm: {
        mail: [
          { required: true, message: 'Es necesario el correo' },
          {
            type: 'email',
            message: 'Por favor utiliza un correo valido',
            trigger: ['change']
          }
        ],
        password: [
          {
            required: true,
            message: 'Es necesario la contraseña',
            trigger: ['change']
          }
        ]
      }
    }
  },
  computed: {
    redirect() {
      return (
        this.$route.query.redirect &&
        decodeURIComponent(this.$route.query.redirect)
      )
    },
    isCallback() {
      return Boolean(this.$route.query.callback)
    }
  },
  methods: {
    login(formName) {
      this.loading = true
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.error = null

          axios
            .post('/api/users/login', {
              email: this.loginForm.mail,
              password: this.loginForm.password
            })
            .then(response => {
              // console.log(response)
              let data = response.data

              if (data.status == '200') {
                this.$auth
                  .loginWith('local', {
                    data: {
                      user: data.user
                    }
                  })
                  .then(re => {
                    this.$message({
                      type: 'success',
                      message: 'Bienvenido ' + this.$auth.$state.user.name
                    })
                  })
                  .catch(e => {
                    this.$message.error(data.message)

                    this.loading = false
                    this.error = 'El inicio de sesión fallo'
                  })
                this.loading = false
              } else {
                this.$message.error(data.message)

                this.error = data.message
                this.loading = false
              }
            })
            .catch(err => {
              console.log(err)
              this.$message.error(
                'Usted no tiene permisos para acceder a esta aplicación'
              )
              this.loading = false
            })
        } else {
          this.$message.error('Necesitamos mas datos')

          this.loading = false
          this.error = 'Necesitamos mas datos'
          return false
        }
      })
    }
  }
}
</script>


<style>
</style>
