<template>
  <div class="nav-botton row" :style="styles">
    <div class="col-3 d-flex align-items-center">
      <div>
        <nuxt-link :to="{name : 'buscar'}">
          <el-image src="/buscar.png" class="image-logo-login slime d-block m-auto"></el-image>
        </nuxt-link>
      </div>
    </div>
    <div class="col-3 d-flex align-items-center">
      <div>
        <nuxt-link :to="{name : 'interactua'}">
          <el-image src="/@.png" class="image-logo-login slime d-block m-auto"></el-image>
        </nuxt-link>
      </div>
    </div>
    <div class="col-3 d-flex align-items-center">
      <div>
        <nuxt-link :to="{name : 'servicios'}">
          <el-image src="/informe.png" class="image-logo-login slime d-block m-auto"></el-image>
        </nuxt-link>
      </div>
    </div>
    <div class="col-3 d-flex align-items-center">
      <div>
        <nuxt-link :to="{name : 'contactanos'}">
          <el-image src="/nuves.png" class="image-logo-login slime d-block m-auto"></el-image>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'NavBotton',
  props: {
    styles: {
      type: Object,
      default: null
    }
  }
}
</script>

<style>
.nav-botton {
  background: #10addd;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4.5rem;
}
.nav-botton .title {
  font-size: 12px;
}
</style>