<template>
  <div class="title-reflext d-flex justify-content-between w-100">
    <div class="title--primar">
      <span>{{title}}</span>
    </div>

    <div class="breadcumb">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item
          :to="{ name: route.link }"
          v-for="(route, index) in routes"
          :key="index"
        >{{route.name}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    routes: {
      type: Array,
      default: null
    }
  },
  computed: {}
};
</script>

<style>
.title-reflext .title--primar {
  font-size: 18px;
  margin: 0;
  color: #50649c;
}
.title-reflext .title--primar span {
  font-weight: 500;
}
.title-reflext .breadcumb {
  display: flex;
  align-items: center;
}
.title-reflext .breadcumb .el-breadcrumb {
  line-height: normal;
}
.title-reflext .breadcumb .el-breadcrumb__inner a,
.title-reflext .breadcumb .el-breadcrumb__inner.is-link {
  color: #8997bd;
  font-weight: 400;
  font-size: 13px;
}
.title-reflext
  .breadcumb
  .el-breadcrumb__item[aria-current="page"]
  .el-breadcrumb__inner {
  color: #7081b9;
}
.title-reflext .el-breadcrumb__separator {
  color: #8997bd !important;
}
</style>