<template>
  <div class="video_upload_e upload_component" :class="upload_class">
    <el-upload
      class="upload-learning"
      drag
      :accept="accept"
      :data="{theme : index}"
      action="/api/files/upload"
      :show-file-list="false"
      :headers="header_upload"
      :on-progress="progress_image_presentation"
      :on-success="handleImagePresentationSuccess"
      :before-upload="beforeAvatarUpload"
    >
      <div class="l" style="width:100%;height:100%">
        <el-image
          shape="square"
          :style="style_upload"
          fit="cover"
          :src="url_image"
          v-if="url_image"
        ></el-image>

        <el-progress type="circle" :percentage="porcentage" v-if="progress == true"></el-progress>

        <div class="le" v-else-if="progress == false && !url_image">
          <i class="el-icon-upload"></i>
          <div class="el-upload__text" v-html="text"></div>
          <div
            slot="tip"
            class="el-upload__tip"
            v-if="limit > 0"
          >Solo archivos con un tamaño maximo de {{limit}}Mb</div>
        </div>
      </div>
    </el-upload>
  </div>
</template>

<script>
export default {
  name: 'UploadAula',
  props: {
    title: {
      type: String,
      default: 'Subir archivos'
    },
    index: {
      type: Number
    },
    accept: {
      type: String,
      default: ''
    },
    url_image: {
      type: String,
      default: ''
    },
    limit: {
      type: Number,
      default: 5
    },
    style_upload: {
      type: String,
      default: ''
    },
    upload_class: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: 'Suelta tu archivo aquí o <em>haz clic para cargar</em>'
    },
    subtext: {
      type: String,
      default: 'Solo archivos {{accept}} con un tamaño menor de {{limit}}Mb'
    }
  },
  data() {
    return {
      progress: false,
      porcentage: 0,
      header_upload: {
        Authorization: this.$auth.$storage.getLocalStorage('_token.local')
      }
    }
  },
  methods: {
    progress_image_presentation(event, file, fileList) {
      //   console.log(event.percent)
      this.progress = true
      this.porcentage = Number(event.percent.toFixed(0))
      //   this.$emit('progress_upload_file', { event, file, fileList })
    },
    handleImagePresentationSuccess(res, file) {
      //   this.image_p = URL.createObjectURL(file.raw)
      //   this.form_add_course.image_presentation = res.data_db[0]
      //   console.log(res.data_db[0])
      this.progress = false
      this.$emit('file_server', res)
    },
    beforeAvatarUpload(file) {
      let accept_s = ''
      let limit_s = ''

      // if (this.accept) {
      //   accept_s = file.type === this.accept
      // } else {
      //   accept_s = true
      // }

      if (this.limit > 0) {
        limit_s = file.size / 1024 / 1024 < this.limit
      } else {
        limit_s = ''
      }

      // if (!accept_s) {
      //   this.$message.error('El archivo no cumple con el formato')
      // }

      if (!limit_s) {
        this.$message.error('La imagen no debe exceder los ' + this.limit + 'Mb')
        return false
      }
      return accept_s && limit_s
    }
  }
}
</script>

<style>
.video_upload_e .vue-hover-mask {
  width: 100%;
  height: 200px;
}

.video_upload_e .vue-hover-mask video {
  height: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100% !important;
}

.video_upload_e {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.video_upload_e .el-upload {
  width: 100%;
}

.is-error .video_upload_e .el-upload .el-upload-dragger {
  border: 2px dashed red;
}

.video_upload_e .el-upload .el-upload-dragger {
  width: 100%;
  height: 200px;
  border: 2px dashed #c2cdda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.video_upload_e.small .el-upload .el-upload-dragger {
  width: 11rem !important;
  height: 11rem !important;
}

.video_upload_e.producto .el-upload .el-upload-dragger {
  height: 34rem;
}

.video_upload_e.height-min .el-upload .el-upload-dragger {
  height: 200px;
  padding: 2rem;
}

.video_upload_e .el-upload .el-upload-dragger i {
  display: none;
}

.video_upload_e .el-upload .el-upload-dragger .el-upload__text {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #5b5b7b;
  white-space: normal;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.video_upload_e .el-upload__tip {
  color: #bbc2d4;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
  line-height: normal;
}

.video_upload_e input {
  display: none !important;
}

.video_upload_e .el-image {
  height: 100% !important;
}

.video_upload_e .l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.video_upload_e .el-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.new_image {
  width: 100%;
  flex: 0 0 100%;
  border: 2px dashed #c2cdda;
  /* border-top: none; */
  border-radius: 0 0 0.5rem;
  padding: 0.51rem;
  text-align: center;
  color: #c2cdda;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.compo-upload .el-image {
  border-top: 2px dashed #c2cdda;
  border-left: 2px dashed #c2cdda;
  border-right: 2px dashed #c2cdda;
  width: 100%;
  height: 200px;
  max-width: 100%;
  /* line-height: normal; */
  flex: 0 0 100%;
}
</style>