<template>
  <div class="component--service-user mb-2 py-3 d-flex flex-wrap align-items-center">
    <div class="button--trash mr-3">
      <el-button @click="deleteService()" type="text" class="btn-danger btn-base px-3">
        <eva-icon name="trash-2-outline" width="20" height="20" fill="#fff" />
      </el-button>
    </div>
    <div class="select-services">
      <el-select v-model="service_user.service_id" placeholder="Servicio" style="    width: 360px;">
        <el-option
          v-for="(servi,index) in services"
          :key="index"
          :label="servi.name"
          :value="servi.id"
        ></el-option>
      </el-select>

      <el-date-picker
        v-model="service_user.start_date"
        type="date"
        placeholder="Fecha inicio"
        value-format="yyyy-MM-dd
"
      ></el-date-picker>

      <el-date-picker
        v-model="service_user.end_date"
        type="date"
        placeholder="Fecha fin"
        value-format="yyyy-MM-dd"
      ></el-date-picker>

      <el-switch
        v-model="service_user.avalible"
        active-value="1"
        inactive-value="0"
        active-color="#13ce66"
        inactive-color="#ff4949"
      ></el-switch>
    </div>
    <div class="button--save ml-3">
      <el-button type="primary" @click="saveService()" class="btn-primary btn-base">Guardar servicio</el-button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    service_user: {
      type: Object,
      default: null
    },
    services: {
      type: Array,
      default: null
    }
  },
  methods: {
    async deleteService() {
      this.$nuxt.$loading.start()
      let serviceDelete = await this.$axios.$delete(
        `/api/user_services/${this.service_user.id}`
      )
      if (serviceDelete) {
        this.$emit('deleteService')
        this.$nuxt.$loading.finish()
      } else {
        this.$nuxt.$loading.finish()
      }
    },
    async saveService() {
      let saveData = {
        user_id: this.service_user.user_id,
        service_id: this.service_user.service_id
      }
      this.$nuxt.$loading.start()
      let serviceUserResponse = await this.$axios.$put(
        `/api/user_services/${this.service_user.id}`,
        this.service_user
      )
      if (serviceUserResponse) {
        // this.service_user.id = serviceUserResponse.id
        this.$notify({
          title: 'Listo',
          message: 'Servicio agregado al usuario',
          position: 'bottom-right',
          showClose: false
        })
        this.$nuxt.$loading.finish()
        // this.$router.push({ name: 'users' })
      } else {
        this.$nuxt.$loading.finish()
      }
    }
  }
}
</script>

<style>
</style>