* {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
}

:root {
  --white: #ffffff;
  --primary: #42258a;
  --color-hover: #42258a;
}
* {
  text-decoration: none;
}
body {
  margin: 0 !important;
}
p {
  line-height: 1.6;
  font-size: 13px;
}
.w-100 {
  width: 100%;
}
code {
  color: #4ac7ec;
  font-size: 13px;
  word-break: break-word;
}
label {
  font-weight: 400;
  color: #656d9a !important;
  font-size: 13px !important;
}
.el-select {
  width: 100%;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s, transform 0.3s;
  /* transform: translateX(-10px); */
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.el-form-item {
  margin-bottom: 28px;
}
.login-p {
  background-color: #191b1f;
  height: 100vh;
}
.login-p .cont-flex,
.login-p .cont-flex .cont-flex,
.login-p .cont-flex .cont-flex .vid-secti,
.login-p .cont-flex .cont-flex .form-log {
  height: 100%;
}

.login-p .cont-flot {
  height: 100%;
  overflow: hidden;
}
.login-p .cont-flex {
  display: flex;
  flex-wrap: wrap;
}
.login-p .vid-secti {
  flex: 0 0 55%;
  width: 55%;
  position: relative;
}
.login-p .vid-secti img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.login-p .vid-secti::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(81, 45, 168, 0.8);
  mix-blend-mode: multiply;
}
.login-p .form-log {
  flex: 0 0 45%;
  width: 45%;
}
.login-p .form-log {
  background-color: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
}
.cont-i-form {
  border-radius: 0.3rem;
  /* box-shadow: 0 4px 10px rgba(73, 113, 204, 0.7); */
}
.form-login {
  /* padding: 3rem; */
}
.login-p .form-login {
}
.login-p .form-login input {
  height: auto !important;
  padding: 0.5rem 1rem 0.5rem 2.2rem;
  width: 350px;
  border: 2px solid rgba(168, 176, 193, 0.4);
  width: 100%;
}
.login-p .form-login .el-form-item label {
  font-size: 1.05rem !important;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #000;
}
.login-p .form-login .el-form-item .el-input span.el-input__prefix {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.2rem;
}
.login-p .form-login .el-form-item .el-input span.el-input__prefix i {
  display: flex;
  align-items: center;
}
.login-p .text-plane {
}
.login-p .text-plane h1 {
  font-size: 2rem;
  font-weight: 600;
}
.login-p .text-plane h1 > span a {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0.5rem;
  color: var(--primary);
}
.login-p .text-plane p.descrip--s {
  font-size: 1.1rem;
  color: #ccc;
  padding-bottom: 1rem;
}
.cont-buton-log {
}
.cont-buton-log a {
  padding: 1rem 3rem !important;
  margin: 0;
}

.btn-main {
  padding: 1rem 2rem;
  border: 2px solid #4c5e75 !important;
}

.btn-main span {
  color: #4c5e75;
}

.btn-main:hover {
  background: #4c5e75;
  color: #fff;
  border: 2px solid #4c5e75;
}

.btn-main:hover span {
  color: #fff;
}

.btn-main {
  margin-bottom: 1rem;
  padding: 1rem !important;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #606266 !important;
  border: 0;
  -webkit-box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.2) !important;
  letter-spacing: 1px !important;
  border: 2px solid #606266 !important;
  -webkit-transition: background-color 0.5s, border-color 0.5s;
  -o-transition: background-color 0.5s, border-color 0.5s;
  transition: background-color 0.5s, border-color 0.5s;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 600;
}

.btn-main:hover {
  background-color: #4f5154 !important;
  border: 2px solid #4f5154 !important;
}

.btn-main span {
  font-weight: 600;
  font-size: 13px;
  color: #fff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-main span i {
  margin-right: 0.5rem;
}

.btn-main.primary {
  margin-bottom: 1rem;
  padding: 1rem !important;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--primary) !important;
  border: 0;
  -webkit-box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.2) !important;
  letter-spacing: 1px;
  border-color: var(--primary) !important;
  -webkit-transition: background 0.5s, border-color 0.5s;
  -o-transition: background 0.5s, border-color 0.5s;
  transition: background 0.5s, border-color 0.5s;
}

.btn-main.primary span {
  color: #fff;
  font-size: 13px;
}

.btn-main.primary:hover {
  background-color: var(--color-hover) !important;
  border-color: var(--color-hover) !important;
  color: #fff !important;
}

.btn-main.primary:hover span {
  color: #fff !important;
}

.btn-main.primary:hover:focus span,
.btn-main.primary:hover:active span {
  color: #fff !important;
}

.btn-main.primary:focus,
.btn-main.primary:active {
  background: var(--color-active) !important;
  border-color: var(--color-active) !important;
}

.btn-main.primary.active {
  background: #fff !important;
  color: var(--color-active) !important;
}

.navbar--custom {
  height: 4rem;
  width: 100%;
  flex: 0 0 100%;
  background: #fff;
  padding: 0 0 0 0;
  position: fixed;
  -webkit-box-shadow: 0 0 3px rgba(31, 30, 47, 0.05);
  box-shadow: 0 0 3px rgba(31, 30, 47, 0.05);
  z-index: 888;
}
.btn-main.primary.active span {
  color: var(--color-active) !important;
}
/* Adicional */

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.asider-principal {
  width: 280px;
  position: fixed;
  z-index: 100;
  height: calc(100% - 4rem);
  bottom: 0;
}
.asider-principal.collapse-menu {
  width: 94px;
}
.container-principal {
  margin-left: 280px;
  transition: all 0.2s ease;
  width: calc(100% - 280px);
  background: #eaf0f7;
  padding: 1.5rem;
  margin-top: 4rem;
  min-height: calc(100vh - 4rem);
}
.container-principal.menu-collapse {
  margin-left: 94px;
  width: calc(100% - 94px);
}
.container--asider {
  display: flex;
  background: var(--white);
  flex-wrap: wrap;
  height: 100%;
}
.container--asider .action--bar {
  position: relative;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  background-color: #4c79f6;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 4rem;
  flex: 0 0 4rem;
  -ms-flex: 0 0 6rem;
  height: 100vh;
}
.container--asider .sidebar--container {
  position: relative;
  max-width: 100%;
  flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.dt-brand__tool {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  min-height: 20px;
  min-width: 20px;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 16px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border-radius: 2px;
  background-color: #757575;
}
.hamburger-inner {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dt-brand__tool .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.22s;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 16px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border-radius: 2px;
  background-color: #757575;
}
.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: '';
}
.hamburger-inner:before {
  top: -5px;
}
.hamburger-inner:after {
  bottom: -5px;
}
.dt-brand__tool .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.25s,
    -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.bar--button__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  min-height: 72px;
  max-height: 72px;
  background-color: #0d0819;
  justify-content: center;
}

.nav--button--action-adition {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: auto;
}
.nav--button--action-adition li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1rem 0;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  color: #212121;
  transition: all 0.3s ease;
}
.sidebar--container .header--page--column {
  min-height: 72px;
  max-height: 72px;
  background-color: #0d0819;
  display: flex;
  align-items: center;
  color: #fff;
}
.sidebar--container .header--page--column .brand {
  padding: 0 1rem;
  display: flex;
}
.sidebar--container .header--page--column .brand span {
  font-size: 1.2rem;
}
.el-menu,
.el-menu-vertical-cp {
  background-color: transparent !important;
  border-right: none !important;
}
.el-menu-vertical-cp .el-menu-item,
.el-menu-vertical-cp .el-submenu {
  margin-bottom: 0.5rem;
}
.el-menu-vertical-cp .el-menu-item:focus,
.el-menu-vertical-cp .el-menu-item:hover,
.el-submenu__title:hover {
  background-color: transparent !important;
}
.el-menu-vertical-cp .el-menu-item,
.el-menu-vertical-cp .el-submenu__title {
  color: #7c92a7 !important;
}
.menu--container {
  padding: 1rem;
}
.menu--container h3 {
  font-size: 16px;
  font-weight: 500;
  color: #435177;
  margin-bottom: 10px;
  line-height: 1;
}
.el-menu-vertical-cp .el-submenu .el-menu-item,
.el-menu-vertical-cp .el-menu-item,
.el-menu-vertical-cp .el-submenu__title {
  height: 40px;
  line-height: normal;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 !important;
}

.el-menu-vertical-cp .el-submenu .el-menu {
  padding: 0 0 0 1rem;
  margin-top: 0.5rem;
}
.el-menu-vertical-cp .el-submenu.is-active,
.el-menu-vertical-cp .el-menu-item.is-active {
  /* background: #1e1532 !important; */
  border-radius: 0.5rem;
  color: #4c79f6 !important;
}
.el-menu-vertical-cp .el-submenu.is-active svg,
.el-menu-vertical-cp .el-menu-item.is-active svg {
  fill: #4c79f6 !important;
}

.asider-principal.collapse-menu .el-menu-vertical-cp .el-submenu .el-menu-item,
.asider-principal.collapse-menu .el-menu-vertical-cp .el-menu-item,
.asider-principal.collapse-menu .el-menu-vertical-cp .el-submenu__title {
  justify-content: center;
}
.asider-principal.collapse-menu .el-tooltip {
  display: flex !important;
  align-items: center !important;
}
.el-menu--vertical {
  background: white;
}
.container--navbar {
  display: flex;
  height: 100%;
}
.container--navbar .logo-container--light {
  flex: 0 0 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: flex -5s;
}
.navbar--custom.menu-collapse .logo-container--light {
  flex: 0 0 94px;
  transition: flex -5s;
}
.container--navbar .logo-container--light img {
  height: 30px;
  width: auto;
}
.container--navbar .logo-container--light .cp-brand {
  display: flex;
  align-items: center;
}
.container--navbar .action--nav {
  flex: 0 0 calc(100% - 280px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container--navbar .action--nav .action--first {
  flex: 0 0 40%;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.container--navbar .action--nav .action--first i.menu--ico--callapse {
  display: flex;
  align-items: center;
}
.container--navbar .action--nav .action--last {
  flex: 0 0 60%;
  width: 60%;
  height: 100%;
}
.card--control {
  margin: 2rem 0;
  border: none;
  -webkit-box-shadow: 0 0 3px rgba(31, 30, 47, 0.05);
  box-shadow: 0 0 3px rgba(31, 30, 47, 0.05);
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}
.title--control {
  font-weight: 500;
  margin-top: 0;
  color: #50649c;
  text-shadow: 0 0 1px rgba(239, 242, 249, 0.1);
  margin-bottom: 8px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
p.description--control {
  color: #a4abc5 !important;
  padding: 0;
  margin: 0.5rem 0;
}
.form--control input.el-input__inner {
  font-size: 13px;
  border: 1px solid #e8ebf3;
  height: calc(2.3rem + 2px);
  color: #2f5275;
}
.btn-base {
  border-radius: 3px !important;
  font-family: Poppins, sans-serif;
  font-size: 14px !important;
  line-height: 24px !important;
  color: white !important;
}
.btn-base i {
  display: flex;
}
.disabled {
  opacity: 0.8;
  pointer-events: none;
  cursor: not-allowed !important;
}
.btn-primary {
  background-color: #4d79f6 !important;
  border: 1px solid #4d79f6 !important;
  box-shadow: 0 2px 6px 0 rgba(77, 121, 246, 0.5);
}
.btn-danger {
  background-color: #ef4d56 !important;
  border: 1px solid #ef4d56 !important;
  box-shadow: 0 2px 6px 0 rgba(239, 77, 86, 0.5);
}

.add_array--span {
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-in-el-button {
  height: 38.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  cursor: pointer;
}
.step-sect {
  width: 22px;
  color: #50639c;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.table-main,
.table-main td span,
.table-main .cell {
  color: #7286a2;
  font-weight: 500;
}
.table-main thead tr th {
  font-weight: 600;
  color: #50649c;
  font-size: 13px;
  border-bottom: 2px solid #eaf0f7 !important;
}
.table-main thead tr th .cell {
  font-weight: 600;
  color: #50649c;
  font-size: 13px;
}
.popper--tag {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  background: #f56c6c;
  display: inline-block;
  border-radius: 0.3rem;
  color: #fff !important;
  font-weight: 600;
}
.popper--tag.correo {
  background: #f56c6c;
}
.popper--tag.fb {
  background: #4167b2;
}
.compo-upload {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .login-p .form-log {
    flex: 0 0 100%;
    width: 100%;
  }
}
