<template>
  <div class="page-dashboard page">
    <Breadcrumb title="Editar usuario" :routes="arrayRoutes" />
    <div class="card--control card p-3">
      <h5 class="title--control m-0">Formulario de editar usuario</h5>
      <p class="description--control">
        Edite los datos
        <code>importantes</code> del usuario
      </p>

      <div class="container--form my-3">
        <el-form
          :model="formUser"
          :rules="rules"
          ref="formUser"
          label-width="150px"
          class="form--control"
          size="medium"
          hide-required-asterisk
        >
          <div class="row">
            <div class="col-12 col-md-6">
              <el-form-item label="Nombres y Apellido" prop="names">
                <el-input v-model="formUser.names"></el-input>
              </el-form-item>
            </div>

            <div class="col-12 col-md-6">
              <el-form-item label="Correo" prop="email">
                <el-input v-model="formUser.email"></el-input>
              </el-form-item>
            </div>

            <div class="col-12 col-md-6">
              <el-form-item label="Teléfono">
                <el-input v-model="formUser.phone"></el-input>
              </el-form-item>
            </div>

            <!-- <div class="col-12 col-md-6">
              <div class="row">
                <div class="col-8">
                   <el-form-item label="Contraseña" prop="password">
                    <el-input type="password" v-model="formUser.password" show-password></el-input>
                  </el-form-item>
                </div>
                <div class="col-">
                  <el-button
                    type="primary"
                    @click="generatePassword()"
                    class="btn-primary btn-base"
                    style="padding: 6px 20px;width: 100%;"
                  >Generar</el-button>
                </div>
              </div>
            </div>-->

            <div class="col-12 col-md-6">
              <el-form-item label="Rol del usuario" prop="role">
                <el-select v-model="formUser.role" placeholder="Rol del usuario">
                  <el-option
                    :label="capitalizeFirstLetter(role.name)"
                    :value="role.value"
                    v-for="(role, index) in roles"
                    :key="index"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="col-12">
              <el-form-item>
                <el-button
                  type="primary"
                  @click="submitForm('formUser')"
                  class="btn-primary btn-base"
                >Editar usuario</el-button>
                <el-button class="btn-danger btn-base" @click="canceRegister">Cancelar</el-button>
                <el-button
                  type="primary"
                  @click="generatePassword()"
                  class="btn-primary btn-base"
                >Reestablecer contraseña</el-button>
              </el-form-item>
            </div>
          </div>
        </el-form>
        <h5 class="title--control m-0">
          Servicios del usuario
          <span
            class="add-buton--service"
            style="font-weight: 600;text-transform: uppercase;text-decoration: underline;cursor: pointer;"
            @click="add_service()"
          >Agregar servicio al usuaio</span>
        </h5>
        <UserServices
          v-for="(service_u, index) in formUser.user_services"
          :key="index"
          :service_user="service_u"
          :services="services"
          @deleteService="removeService(index)"
        />

        <!-- <pre>{{formUser}}</pre> -->

        <!-- <pre>{{services}}</pre>
        <pre>{{formUser}}</pre>-->
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumb from '~/components/title-page'
import UserServices from '~/components/user_services'
export default {
  middleware: ['auth'],
  async asyncData({ params, route, $axios, $auth, redirect }) {
    let id = params.id
    let user = await $axios.$get(`/api/users/${id}`)
    let services = await $axios.$get(`/api/services`)
    if (!user) {
      redirect('/users')
      //   route.name = 'users'
    }
    return { formUser: user, services: services }
  },
  layout: 'current-user',
  data() {
    return {
      roles: [
        {
          name: 'Administrador',
          value: 'admin'
        },
        {
          name: 'Cliente',
          value: 'client'
        }
      ],
      pickerOptions: {
        disabledDate(time) {
          // console.log(new Date(1994, 12, 10))
          return time.getTime() > Date.now()
        }
      },
      arrayRoutes: [
        {
          name: 'Dashboard',
          link: 'dashboard'
        },
        {
          name: 'Usuarios',
          link: 'users'
        },
        {
          name: 'Editar usuario',
          link: 'users-add'
        }
      ],
      //   formUser: {
      //     names: '',
      //     email: '',
      //     role: 'client',
      //     password: ''
      //   },
      rules: {
        names: [
          {
            required: true,
            message: 'Por favor es necesario agregar el nombre del usuario',
            trigger: 'change'
          },
          {
            min: 1,
            max: 50,
            message: 'El tamaño mínimo del nombre es 1',
            trigger: 'change'
          }
        ],
        email: [
          {
            required: true,
            message: 'Por favor es necesario agregar el correo del usuario',
            trigger: 'change'
          },
          {
            type: 'email',
            message: 'Por favor ingresa un correo válido',
            trigger: 'change'
          }
        ],
        role: [
          {
            required: true,
            message: 'Por favor seleccionar el rol del usuario',
            trigger: 'change'
          }
        ]
      }
    }
  },
  methods: {
    removeService(index) {
      this.formUser.user_services.splice(index, 1)
    },
    add_service() {
      let new_data = {
        id: Date.now(),
        user_id: this.formUser.id,
        service_id: ''
      }
      this.formUser.user_services.push(new_data)
    },
    submitForm(formName) {
      this.$nuxt.$loading.start()
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.updateUser()
        } else {
          this.$nuxt.$loading.finish()
          console.log('error submit!!')
          return false
        }
      })
    },
    async updateUser() {
      let updateUser = await this.$axios.$put(
        `/api/users/${this.formUser.id}`,
        this.formUser
      )
      if (updateUser) {
        this.$notify({
          title: 'Listo',
          message: 'Los datos del usuario se han cambiado',
          position: 'bottom-right',
          showClose: false
        })
        this.$nuxt.$loading.finish()
        // this.$router.push({ name: 'users' })
      } else {
        this.$nuxt.$loading.finish()
      }
    },
    canceRegister() {
      this.$router.push({ name: 'users' })
    },
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1)
    },
    generatePassword() {
      this.$nuxt.$loading.start()
      var length = 10,
        charset =
          'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',
        retVal = ''
      for (var i = 0, n = charset.length; i < length; ++i) {
        retVal += charset.charAt(Math.floor(Math.random() * n))
      }

      this.$confirm(
        'Esta apunto de reestablecer contraseña. Continuar?',
        'Warning',
        {
          confirmButtonText: 'Acepto',
          cancelButtonText: 'Cancelar',
          type: 'warning'
        }
      )
        .then(async () => {
          let update_password = await this.$axios.$put(
            `/api/users/resetpass/${this.formUser.id}`,
            {
              email: this.formUser.email,
              password: retVal
            }
          )
          if (update_password) {
            this.$nuxt.$loading.finish()

            this.$notify({
              title: 'Listo',
              message: 'La contraseña del usuario se ha cambiado',
              position: 'bottom-right',
              showClose: false
            })
          }
        })
        .catch(() => {
          this.$nuxt.$loading.finish()
        })

      //   this.formUser.password = retVal
    }
  },
  computed: {},
  components: {
    Breadcrumb,
    UserServices
  }
}
</script>

<style>
</style>