<template>
  <div class="page-dashboard page">
    <Breadcrumb title="Agregar usuario" :routes="arrayRoutes" />
    <div class="card--control card p-3">
      <h5 class="title--control m-0">Formulario de agregado usuarios</h5>
      <p class="description--control">
        Coloque los datos
        <code>importantes</code> del usuario
      </p>

      <div class="container--form my-3">
        <el-form
          :model="formUser"
          :rules="rules"
          ref="formUser"
          label-width="150px"
          class="form--control"
          size="medium"
          hide-required-asterisk
        >
          <div class="row">
            <div class="col-12 col-md-6">
              <el-form-item label="Nombres y Apellido" prop="names">
                <el-input v-model="formUser.names"></el-input>
              </el-form-item>
            </div>

            <div class="col-12 col-md-6">
              <el-form-item label="Correo" prop="email">
                <el-input v-model="formUser.email"></el-input>
              </el-form-item>
            </div>

            <!-- <div class="col-12 col-md-6">
              <el-form-item label="Teléfono">
                <el-input v-model="formUser.phone"></el-input>
              </el-form-item>
            </div> -->

            <div class="col-12 col-md-6">
              <div class="row">
                <div class="col-8">
                  <el-form-item label="Contraseña" prop="password">
                    <el-input type="password" v-model="formUser.password" show-password></el-input>
                  </el-form-item>
                </div>
                <div class="col-4">
                  <el-button
                    type="primary"
                    @click="generatePassword()"
                    class="btn-primary btn-base"
                    style="padding: 6px 20px;width: 100%;"
                  >Generar</el-button>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <el-form-item label="Rol del usuario" prop="role">
                <el-select v-model="formUser.role" placeholder="Rol del usuario">
                  <el-option
                    :label="capitalizeFirstLetter(role.name)"
                    :value="role.value"
                    v-for="(role, index) in roles"
                    :key="index"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="col-12">
              <el-form-item>
                <el-button
                  type="primary"
                  @click="submitForm('formUser')"
                  class="btn-primary btn-base"
                  :class="{'disabled' : disabled_form}"
                >Agregar usuario</el-button>
                <el-button class="btn-danger btn-base" @click="canceRegister">Cancelar</el-button>
              </el-form-item>
            </div>
          </div>
        </el-form>
        <!-- <pre>{{formUser}}</pre> -->
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumb from '~/components/title-page'
export default {
  middleware: ['auth'],
  async asyncData({ params, route, $axios, $auth }) {
    // let roles = await $axios.$get("/roles");
    // return { roles: roles };
  },
  layout: 'current-user',
  data() {
    return {
      roles: [
        {
          name: 'Administrador',
          value: 'admin'
        },
        {
          name: 'Cliente',
          value: 'client'
        }
      ],
      pickerOptions: {
        disabledDate(time) {
          // console.log(new Date(1994, 12, 10))
          return time.getTime() > Date.now()
        }
      },
      arrayRoutes: [
        {
          name: 'Dashboard',
          link: 'dashboard'
        },
        {
          name: 'Usuarios',
          link: 'users'
        },
        {
          name: 'Agregar usuario',
          link: 'users-add'
        }
      ],
      formUser: {
        names: '',
        email: '',
        role: 'client',
        password: ''
      },
      rules: {
        names: [
          {
            required: true,
            message: 'Por favor es necesario agregar el nombre del usuario',
            trigger: 'change'
          },
          {
            min: 1,
            max: 50,
            message: 'El tamaño mínimo del nombre es 1',
            trigger: 'change'
          }
        ],
        email: [
          {
            required: true,
            message: 'Por favor es necesario agregar el correo del usuario',
            trigger: 'change'
          },
          {
            type: 'email',
            message: 'Por favor ingresa un correo válido',
            trigger: 'change'
          }
        ],
        role: [
          {
            required: true,
            message: 'Por favor seleccionar el rol del usuario',
            trigger: 'change'
          }
        ],
        password: [
          {
            required: true,
            message: 'Por favor coloque una contraseña, o autogenere',
            trigger: 'change'
          }
        ]
      }
    }
  },
  methods: {
    submitForm(formName) {
      this.$nuxt.$loading.start()
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.registerNewUser()
        } else {
          this.$nuxt.$loading.finish()
          console.log('error submit!!')
          return false
        }
      })
    },
    async registerNewUser() {
      let newUser = await this.$axios.$post(
        '/api/users/register',
        this.formUser
      )
      if (newUser) {
        this.$notify({
          title: 'Listo',
          message: 'El usuario se ha creado correctamente',
          position: 'bottom-right',
          showClose: false
        })
        this.$nuxt.$loading.finish()
        this.$router.push({ name: 'users' })
      } else {
        this.$nuxt.$loading.finish()
      }
    },
    canceRegister() {
      this.$router.push({ name: 'users' })
    },
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1)
    },
    generatePassword() {
      var length = 10,
        charset =
          'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',
        retVal = ''
      for (var i = 0, n = charset.length; i < length; ++i) {
        retVal += charset.charAt(Math.floor(Math.random() * n))
      }
      this.formUser.password = retVal
    }
  },
  computed: {
    disabled_form() {
      if (
        this.formUser.names &&
        this.formUser.email &&
        this.formUser.role &&
        this.formUser.password
      ) {
        return false
      } else {
        return true
      }
    }
  },
  components: {
    Breadcrumb
  }
}
</script>

<style>
</style>