@font-face {
    font-family: 'NoirPro';
    src: url('NoirPro-Light.woff2') format('woff2'),
        url('NoirPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NoirStd';
    src: url('NoirStd-BoldItalic.woff2') format('woff2'),
        url('NoirStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'NoirPro';
    src: url('NoirPro-Heavy.woff2') format('woff2'),
        url('NoirPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NoirStd';
    src: url('NoirStd-LightItalic.woff2') format('woff2'),
        url('NoirStd-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'NoirPro';
    src: url('NoirPro-Medium.woff2') format('woff2'),
        url('NoirPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NoirPro';
    src: url('NoirPro-BoldItalic.woff2') format('woff2'),
        url('NoirPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'NoirStd';
    src: url('NoirStd-Light.woff2') format('woff2'),
        url('NoirStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NoirPro';
    src: url('NoirPro-SemiBold.woff2') format('woff2'),
        url('NoirPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NoirStd';
    src: url('NoirStd-Italic.woff2') format('woff2'),
        url('NoirStd-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NoirPro';
    src: url('NoirPro-Italic.woff2') format('woff2'),
        url('NoirPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NoirStd';
    src: url('NoirStd-Regular.woff2') format('woff2'),
        url('NoirStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NoirPro';
    src: url('NoirPro-HeavyItalic.woff2') format('woff2'),
        url('NoirPro-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'NoirStd';
    src: url('NoirStd-Heavy.woff2') format('woff2'),
        url('NoirStd-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NoirStd';
    src: url('NoirStd-SemiBoldItalic.woff2') format('woff2'),
        url('NoirStd-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'NoirPro';
    src: url('NoirPro-LightItalic.woff2') format('woff2'),
        url('NoirPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'NoirStd';
    src: url('NoirStd-HeavyItalic.woff2') format('woff2'),
        url('NoirStd-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'NoirStd';
    src: url('NoirStd-Medium.woff2') format('woff2'),
        url('NoirStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NoirPro';
    src: url('NoirPro-Regular.woff2') format('woff2'),
        url('NoirPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NoirStd';
    src: url('NoirStd-SemiBold.woff2') format('woff2'),
        url('NoirStd-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NoirPro';
    src: url('NoirPro-Bold.woff2') format('woff2'),
        url('NoirPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NoirStd';
    src: url('NoirStd-MediumItalic.woff2') format('woff2'),
        url('NoirStd-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'NoirPro';
    src: url('NoirPro-SemiBoldItalic.woff2') format('woff2'),
        url('NoirPro-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'NoirStd';
    src: url('NoirStd-Bold.woff2') format('woff2'),
        url('NoirStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NoirPro';
    src: url('NoirPro-MediumItalic.woff2') format('woff2'),
        url('NoirPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

