<template>
  <client-only>
    <div>
      <main>
        <div class="main-container">
          <div class="navbar--custom" :class="[isCollapse ? 'menu-collapse' : ' ']">
            <div class="container--navbar">
              <div class="logo-container--light">
                <div class="cp-brand">
                  <el-image src="/logo-inovs.png"></el-image>
                </div>
              </div>
              <div class="action--nav">
                <div class="action--first">
                  <!-- <eva-icon
                    name="menu"
                    width="25px"
                    height="25px"
                    fill="#7C92A7"
                    class="menu--ico--callapse"
                  ></eva-icon>-->
                  <el-switch v-model="isCollapse" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                </div>
                <div class="action--last"></div>
              </div>
            </div>
          </div>
          <div class="asider-principal" :class="[isCollapse ? 'collapse-menu' : ' ']">
            <div class="container--asider">
              <!-- <div class="action--bar">
                <div class="bar--button__header">
                  <div class="dt-brand__tool" data-toggle="main-sidebar">
                    <div class="hamburger-inner"></div>
                  </div>
                </div>

                <ul class="nav--button--action-adition">
                  <li class="cp-action__nav_item" @click="logOut()">
                    <eva-icon name="log-out" fill="#fff"></eva-icon>
                  </li>
                  <li class="cp-action__nav_item">
                    <el-avatar :size="30" src="/avatar.jpg"></el-avatar>
                  </li>
                </ul>
              </div>-->

              <div class="sidebar--container">
                <!-- <div class="header--page--column">
                  <div class="brand">
                    <el-image src="/logo-white.svg" lazy></el-image>
                  </div>
                </div>-->
                <div class="menu--container">
                  <el-menu
                    class="el-menu-vertical-cp"
                    :router="true"
                    :default-active="activeLink"
                    :collapse="isCollapse"
                  >
                    <template v-for="(menu, index) in routes_custom_b">
                      <el-submenu
                        v-if="(menu.children && menu.children.length > 0) && menu.type == 'route'"
                        :index="menu.path"
                        :key="index"
                      >
                        <template slot="title">
                          <eva-icon
                            :name="menu.ico"
                            v-if="menu.ico"
                            width="15px"
                            height="15px"
                            fill="#7C92A7"
                            class="mr-3"
                            style="margin-bottom: 3px;"
                          ></eva-icon>
                          <span slot="title">{{ menu.name }}</span>
                        </template>
                        <el-menu-item
                          v-for="(child, i) in menu.children"
                          :index="menu.path + child.path"
                          :key="i"
                        >
                          <eva-icon
                            :name="child.ico"
                            v-if="child.ico"
                            width="15px"
                            height="15px"
                            fill="#7C92A7"
                            class="mr-3"
                            style="margin-bottom: 3px;"
                          ></eva-icon>
                          {{ child.name }}
                        </el-menu-item>
                      </el-submenu>

                      <el-menu-item v-else-if="menu.type== 'route'" :index="menu.path" :key="index">
                        <!-- <i class="el-icon-location"></i> -->
                        <eva-icon
                          :name="menu.ico"
                          v-if="menu.ico"
                          width="15px"
                          height="15px"
                          fill="#7C92A7"
                          class="mr-3"
                          style="margin-bottom: 3px;"
                        ></eva-icon>
                        <span slot="title">{{ menu.name }}</span>
                      </el-menu-item>
                    </template>
                    <el-menu-item @click="logOut">
                      <eva-icon
                        name="log-out"
                        width="15px"
                        height="15px"
                        fill="#7C92A7"
                        class="mr-3"
                        style="margin-bottom: 3px;"
                      ></eva-icon>
                      <span slot="title">Cerrar sesión</span>
                    </el-menu-item>
                  </el-menu>
                </div>
              </div>
            </div>
          </div>
          <div class="container-principal" :class="[isCollapse ? 'menu-collapse' : ' ']">
            <nuxt nuxt-child-key="none" role="main" />
          </div>
        </div>
      </main>
    </div>
  </client-only>
</template>

<script>
export default {
  data() {
    return {
      isCollapse: false,
      activeLink: null,
      routes_custom_b: [
        {
          type: 'route',
          name: 'Dashboard',
          path: '/dashboard',
          ico: 'home-outline',
          children: []
        },
        // {
        //   type: "route",
        //   name: "Proyectos",
        //   path: "/projects",
        //   ico: "file-text-outline",
        //   children: [
        //     {
        //       name: "Todos los proyectos",
        //       ico: "file-text-outline",
        //       path: ""
        //     },
        //     {
        //       name: "Agregar un proyecto",
        //       ico: "file-text-outline",
        //       path: "/add"
        //     }
        //   ]
        // },

        // {
        //   type: "route",
        //   name: "Casos de pruebas",
        //   ico: "list-outline",
        //   path: "/test-cases",
        //   children: [
        //     {
        //       name: "Todos los casos de pruebas",
        //       ico: "file-text-outline",
        //       path: ""
        //     },
        //     {
        //       name: "Agregar un caso de prueba",
        //       ico: "file-text-outline",
        //       path: "/add"
        //     }
        //   ]
        // },
        {
          type: 'route',
          name: 'Buscadores',
          ico: 'search-outline',
          path: '/searchs',
          children: [
            {
              name: 'Todos',
              ico: 'file-text-outline',
              path: ''
            },
            {
              name: 'Agregar',
              ico: 'file-text-outline',
              path: '/add'
            }
          ]
        },
        {
          type: 'route',
          name: 'Base de datos',
          ico: 'layers-outline',
          path: '/databases',
          children: [
            {
              name: 'Todos',
              ico: 'file-text-outline',
              path: ''
            },
            {
              name: 'Agregar',
              ico: 'file-text-outline',
              path: '/add'
            }
          ]
        },
        {
          type: 'route',
          name: 'Servicios',
          ico: 'settings-outline',
          path: '/services',
          children: [
            {
              name: 'Todos',
              ico: 'file-text-outline',
              path: ''
            },
            {
              name: 'Agregar',
              ico: 'file-text-outline',
              path: '/add'
            }
          ]
        },
        {
          type: 'header',
          name: 'Administrador'
        },
        {
          type: 'route',
          name: 'Usuarios',
          ico: 'person-outline',
          path: '/users',
          children: [
            {
              name: 'Todos los usuarios',
              ico: 'file-text-outline',
              path: ''
            },
            {
              name: 'Agregar un usuario',
              ico: 'file-text-outline',
              path: '/add'
            }
          ]
        }
        // {
        //   type: 'route',
        //   name: 'Ajustes',
        //   path: '/settings',
        //   ico: 'settings-2-outline',
        //   children: []
        // }
      ]
    }
  },
  mounted() {
    let path = this.$route.path
    let name_active_route = path.split('/')
    // console.log(name_active_route)
    this.activeLink = path
    // let operations_local = this.$auth.$storage.getUniversal("operations");
    // if (!operations_local) {
    //   this.casGetOperation();
    // }
  },
  watch: {
    $route(newVal, oldVal) {
      console.log(this.$route)
      this.activeLink = newVal.path
    }
  },
  methods: {
    logOut() {
      this.$confirm('¿Esta seguro que desea cerrar sesión?', 'Cerrar sesión', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'error'
      })
        .then(() => {
          this.$auth.logout()
          this.$message({
            type: 'success',
            message: 'Sesión cerrada correctamente'
          })
        })
        .catch(() => {
          console.log('Cancelado')
        })
    }
  }
}
</script>
<style>
</style>
