<template>
  <div class="login-page d-flex align-items-center">
    <main>
      <div class="content-login">
        <div class="section-logo d-flex justify-content-center my-5">
          <el-image src="/logo_innova.png" class="image-logo-login slime"></el-image>
        </div>
        <div class="row mx-2">
          <div class="col-6 mb-4 col-icons-b">
            <div
              class="contenedor-e d-flex align-items-center justify-content-center position-relative"
            >
              <div class="overlay"></div>
              <nuxt-link :to="{name : 'buscar'}">
                <el-image src="/buscar.png" class="image-logo-login slime d-block m-auto"></el-image>
                <span class="title text-white mt-3 d-block">Buscar</span>
              </nuxt-link>
            </div>
          </div>
          <div class="col-6 mb-4 col-icons-b">
            <div class="contenedor-e d-flex align-items-center justify-content-center">
              <div class="overlay"></div>
              <nuxt-link :to="{name : 'interactua'}">
                <el-image src="/@.png" class="image-logo-login slime d-block m-auto"></el-image>
                <span class="title text-white mt-3 d-block">Interactua</span>
              </nuxt-link>
            </div>
          </div>
          <div class="col-6 mb-4 col-icons-b">
            <div class="contenedor-e d-flex align-items-center justify-content-center">
              <div class="overlay"></div>
              <nuxt-link :to="{name : 'servicios'}">
                <el-image src="/informe.png" class="image-logo-login slime d-block m-auto"></el-image>
                <span class="title text-white mt-3 d-block">Servicios</span>
              </nuxt-link>
            </div>
          </div>
          <div class="col-6 mb-4 col-icons-b">
            <div class="contenedor-e d-flex align-items-center justify-content-center">
              <div class="overlay"></div>
              <nuxt-link :to="{name : 'contactanos'}">
                <el-image src="/nuves.png" class="image-logo-login slime d-block m-auto"></el-image>
                <span class="title text-white mt-3 d-block">Contáctanos</span>
              </nuxt-link>
            </div>
          </div>
          <div class="col-12 mb-4 col-icons-b">
            <div
              class="contenedor-e d-flex align-items-center justify-content-center"
              style="    min-height: 4.5rem;"
              @click="logout"
            >
              <div class="overlay"></div>
              <a>
                <span class="title text-white mt-0 d-block">Cerrar sesión</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  async asyncData({ params, route, $axios, $auth, redirect }) {
    redirect('/login')
  },
  // middleware: ['auth'],
  data() {
    return {
      form_register: {
        nombres: '',
        correo: '',
        password: '',
        s_password: ''
      }
    }
  },
  methods: {
    async logout() {
      console.log('hola')
      await this.$auth.logout()
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert('submit!')
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  },
  components: {}
}
</script>

<style>
.contenedor-e {
  padding: 0.4rem;
  border-radius: 5rem;
  text-align: center;
  min-height: 7.5rem;
  position: relative;
}
.contenedor-e .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.33);
  mix-blend-mode: overlay;
  border-radius: 2rem;
}
</style>
