<template>
  <div class="page-dashboard page mt-0">
    <div class="row row-col-cards">
      <div class="col-md-3">
        <nuxt-link :to="{name : 'users'}" class="card--control card my-0 p-3">
          <div class="icon d-flex">
            <eva-icon name="person-remove-outline" fill="#4C79F6" class="mr-3"></eva-icon>
            <span class="title-card">{{dashboard.users}}</span>
          </div>
          <div class="name-tiel">
            <span>Usuarios</span>
          </div>
        </nuxt-link>
      </div>
      <div class="col-md-3">
        <nuxt-link :to="{name : 'services'}" class="card--control card my-0 p-3">
          <div class="icon d-flex">
            <eva-icon name="settings-outline" fill="#4C79F6" class="mr-3"></eva-icon>
            <span class="title-card">{{dashboard.services}}</span>
          </div>
          <div class="name-tiel">
            <span>Servicios</span>
          </div>
        </nuxt-link>
      </div>
      <div class="col-md-3">
        <nuxt-link :to="{name : 'searchs'}" class="card--control card my-0 p-3">
          <div class="icon d-flex">
            <eva-icon name="search-outline" fill="#4C79F6" class="mr-3"></eva-icon>
            <span class="title-card">{{dashboard.searchs}}</span>
          </div>
          <div class="name-tiel">
            <span>Buscadores</span>
          </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: ['auth'],
  layout: 'current-user',
  async asyncData({ params, route, $axios, $auth }) {
    let dashboard = await $axios.$get('/api/dashboard')
    return { dashboard: dashboard }
  }
}
</script>

<style>
.row-col-cards {
}
.row-col-cards .icon i {
  display: flex;
  align-items: center;
}
.row-col-cards .icon .title-card {
  color: #4c79f6;
  font-size: 1.3rem;
  font-weight: 600;
}
.row-col-cards .name-tiel{
    color: #7C92A7;
    text-transform: uppercase;
}
.row-col-cards .name-tiel span{
    font-weight: 600;
    font-size: .9rem
}
</style>