<template>
  <div class="page-dashboard page">
    <Breadcrumb title="Todos las bases de datos" :routes="arrayRoutes" />
    <div class="card--control card p-3">
      <h5 class="title--control m-0">Listado completo de las bases de datos</h5>

      <div class="container-page--single mt-4">
        <!-- <div style="margin-bottom: 10px">
          <div class="row row-filter-table form--control">
            <div class="col-12 col-md-3">
              <el-input v-model="filters[1].value" placeholder="Nombres y apellidos"></el-input>
            </div>
            <div class="col-12 col-md-3">
              <el-input v-model="filters[2].value" placeholder="Correo"></el-input>
            </div>

            <div class="col-12 col-md-3">
              <el-input v-model="filters[3].value" placeholder="Telefono"></el-input>
            </div>
            <div class="col-12 col-md-3">
              <el-input v-model="filters[4].value" placeholder="Tipo de logeo"></el-input>
            </div>
          </div>
        </div>-->
        <data-tables
          :data="databases"
          :filters="filters"
          highlight-current-row
          class="table-main"
          :pagination-props="{ pageSizes: [5, 10, 15] }"
        >
          <div slot="empty" style="color: #EF4D56">
            <div class="container-empty p-3 d-flex justify-content-center">
              <div class="place" style="text-align: center;">
                <el-image
                  style="width: 60px; height: 60px"
                  src="/cactus.png"
                  fit="contain"
                  class="d-block m-auto"
                ></el-image>
                <span
                  class="empty-text"
                  style="font-weight: 600"
                >Aún no tenemos nada que mostrarte aqui</span>
              </div>
            </div>
          </div>
          <el-table-column type="index" width="50"></el-table-column>
          <el-table-column label="Nombres" width="200">
            <template slot-scope="scope">
              <span>{{ scope.row.name }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Image" width="250">
            <template slot-scope="scope">
              <el-image
                style="max-height:50px; height: 50px; width: auto"
                :src="scope.row.file.path"
                class="image-file-e-search"
              ></el-image>
            </template>
          </el-table-column>
          <el-table-column label="Url">
            <template slot-scope="scope">
              <span>{{ scope.row.url }}</span>
            </template>
          </el-table-column>
          <el-table-column fixed="right" label="Operaciones" width="160">
            <template slot-scope="scope">
              <div class="group-button d-flex">
                <el-button
                  @click.native.prevent="editRow(scope)"
                  type="text"
                  class="btn-primary btn-base px-3 mr-2"
                >
                  <eva-icon name="edit-2-outline" width="20" height="20" fill="#fff" />
                </el-button>
                <el-button
                  @click.native.prevent="deleteRow(scope)"
                  type="text"
                  class="btn-danger btn-base px-3"
                >
                  <eva-icon name="trash-2-outline" width="20" height="20" fill="#fff" />
                </el-button>
              </div>
            </template>
          </el-table-column>
        </data-tables>
      </div>
      <!-- <pre>
            {{databases}}
      </pre>-->
    </div>
  </div>
</template>

<script>
import Breadcrumb from '~/components/title-page'
export default {
  middleware: ['auth'],
  async asyncData({ params, route, $axios, $auth }) {
    let databases = await $axios.$get('/api/databases')
    return { databases: databases }
  },
  layout: 'current-user',
  data() {
    return {
      arrayRoutes: [
        {
          name: 'Dashboard',
          link: 'dashboard'
        },
        {
          name: 'Usuarios',
          link: 'users'
        }
      ],
      titles: [
        {
          prop: 'id',
          label: 'ID',
          width: '70px'
        },
        {
          prop: 'names',
          label: 'Nombres y apellido'
        },
        {
          prop: 'email',
          label: 'Correo',
          width: '280px'
        },
        {
          prop: 'phone',
          label: 'Telefono'
        },
        {
          prop: 'role',
          label: 'Rol',
          width: '150px'
        },
        {
          prop: 'type_login',
          label: 'Tipo de registro'
        }
      ],
      filters: [
        {
          prop: 'id',
          value: ''
        },
        {
          prop: 'names',
          value: ''
        },
        {
          prop: 'email',
          value: ''
        },
        {
          prop: 'phone',
          value: ''
        },
        {
          prop: 'type_login',
          value: ''
        }
      ],
      actionCol: {
        label: 'Acciones',
        props: {
          align: 'center',
          width: '250'
        },
        buttons: [
          {
            props: {
              icon: 'el-icon-edit',
              type: 'primary'
            },
            handler: row => {
              console.log(row)
            },
            label: 'Editar'
          },
          {
            props: {
              icon: 'el-icon-delete',
              type: 'danger'
            },
            handler: row => {
              console.log(row)
              //   this.data.splice(this.data.indexOf(row), 1)
            },
            label: ''
          }
        ]
      }
    }
  },
  methods: {
    editRow(scope, tableData) {
      this.$router.push({ name: 'databases-id', params: { id: scope.row.id } })
    },
    async reloadData() {
      let ser = await this.$axios.$get('/api/databases')
      this.databases = ser
    },
    async deleteRow(scope) {
      this.$nuxt.$loading.start()
      let newUser = await this.$axios.$delete(
        `/api/databases/${scope.row.id}`,
        this.formSearch
      )
      if (newUser) {
        this.$notify({
          title: 'Listo',
          message: 'El buscador se ha eliminado correctamente',
          position: 'bottom-right',
          showClose: false
        })
        this.reloadData()
        this.$nuxt.$loading.finish()
      }
    }
  },
  computed: {},
  components: {
    Breadcrumb
  }
}
</script>

<style>
.image-file-e-search img {
  height: 50px;
  width: auto;
}
</style>