body {
  background: #000;
  display: flex;
}

/* portrait */
@media screen and (orientation: portrait) {
  /* portrait-specific styles */
}
/* landscape */
@media screen and (orientation: landscape) {
  /* landscape-specific styles */
}
#uk-s-container:fullscreen {
  width: 100%;
  height: 100%;
}

#uk-s-container:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.mh-100vh {
  min-height: 100vh;
}

.uk-card-body::after, .uk-card-body::before, .uk-card-footer::after, .uk-card-footer::before, .uk-card-header::after, .uk-card-header::before {
  content: "";
  display: block;
  border-radius: 10px;
}

.hiddens {
  display: none;
}

.page-container {
  padding: 0px;
}
.page-container .overlay-video {
  background: rgba(11, 0, 0, 0.2);
  transition: all 0.5s;
}
.page-container .overlay-video.overshow:before {
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a6000000", endColorstr="#00000000", GradientType=0);
  /* IE6-9 */
  position: absolute;
  position: absolute;
  top: 0;
  width: 100%;
  height: 112px;
  transition: all 0.5s;
}
.page-container .overlay-video.overshow:after {
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,.4+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#a6000000", GradientType=0);
  /* IE6-9 */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 112px;
  transition: all 0.5s;
}
.page-container .overlay-video.overshow .btn-omitir {
  display: block;
  z-index: 2;
}
.page-container .overlay-video.overshow .cont-video-buttons {
  display: block;
  z-index: 2;
}
.page-container .overlay-video .btn-omitir {
  display: none;
}
.page-container .overlay-video .cont-video-buttons {
  display: none;
}

.uk-card {
  cursor: pointer;
  margin-bottom: 15px;
}

.uk-card-menu {
  padding: 0;
}
.uk-card-menu .uk-background-cover {
  border-radius: 10px;
}
@media (max-height: 600px) {
  .uk-card-menu .uk-background-cover {
    height: 101px;
  }
}
.uk-card-menu h2 {
  z-index: 2;
  text-align: center;
}
@media (max-height: 600px) {
  .uk-card-menu h2 {
    font-size: 16px;
  }
}

.overlay-image {
  background: rgba(0, 0, 0, 0.58);
}

.body_start {
  z-index: 2;
}

.cont-video-buttons {
  padding: 0 5px;
}
.cont-video-buttons .uk-position-top {
  top: 8px;
  left: 8px;
  right: 8px;
}
.cont-video-buttons .uk-position-bottom {
  bottom: 8px;
  left: 8px;
  right: 8px;
}

.top-botones-grupo button {
  padding: 1px 12px 7px 18px;
}

#videos_list video, #cont_intro video {
  width: -webkit-fill-available;
  max-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
